@import '../variables.scss';

.ballon-bot{
    background: $first_color;
    color: white;
    max-width: 70%;
    padding: 5px;
    margin: 15px 0 0 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-sizing: border-box;
}

.ballon{
    color: white;
    max-width: 100%;

    .user{
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        p{
            min-width: 20%;
            padding: 10px;
            max-width: 70%;
            background: #2A9AF6;
            margin: 15px 0 0 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;;
            box-sizing: border-box;
            -webkit-box-shadow: 1px 2px 6px -2px rgba(0,0,0,0.55);
            -moz-box-shadow: 1px 2px 6px -2px rgba(0,0,0,0.55);
            box-shadow: 1px 2px 6px -2px rgba(0,0,0,0.55);
        }
    }

    .bot{
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        p{
            min-width: 20%;
            padding: 10px;
            max-width: 70%;
            background: #FEFFFF;
            margin: 15px 0 0 0;
            color: grey;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            box-sizing: border-box;
            -webkit-box-shadow: 1px 2px 6px -2px rgba(0,0,0,0.55);
            -moz-box-shadow: 1px 2px 6px -2px rgba(0,0,0,0.55);
            box-shadow: 1px 2px 6px -2px rgba(0,0,0,0.55);
        }
    }
}